form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  gap: 1rem;
 
  justify-content: flex-end;
  border: 1px solid rgb(9, 48, 107);

}

form label > input,
form label > textarea {
  width: 400px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-font-color);
  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.2rem;
}

form label > textarea {
  height: 200px;
}

form label > button {
  background-color: var(--black-90);
  color: var(--white-100);
  border: 1.5px solid var(--black-50);
  border-radius: 32px;
  padding: 4px 12px;
  cursor: pointer;
}