table {
  width: 100%;
  border-collapse: collapse;
  
}

td, th {
  padding: 0.5rem 0;
}

th {
  text-align: left;
  border-bottom: 1px solid var(--divider-line);
}

tr:nth-child(even) {
  background-color: var(--alt-row-bg-color);
  cursor: pointer;
}

tbody tr:hover {
  background-color: var(--row-hover-bg-color);
  cursor: pointer;
}

thead tr:hover {
  background-color: var(--background-color);
  cursor:default;
}

tbody {
  font-family: 'Roboto';
}

.tooltip {
  position: fixed;
  background-color: var(--header);
  color: var(--links);
  text-align: center;
  border: 1px solid var(--divider-line);
  border-radius: 6px;
  padding: 8px 12px;
  z-index: 1;
  opacity: 0.96;
  pointer-events: none;
}