.add-car, .update-car {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-car h1, .update-car h1 {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}