form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

form label > input,
form label > textarea,
form label > select,
form label > select > option {
  width: 400px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-font-color);
  font-family: 'Roboto';
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.2rem;
}

form label > select > option {
  background-color: var(--select-option-bg);
}

form label > input:focus,
form label > textarea:focus,
form label > select:focus {
  outline: 1px solid var(--divider-line);
}

form label > textarea {
  height: 200px;
}

form div > button {
  background-color: var(--primary);
  color: var(--primary-font-color);
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  justify-self: right;
}

form div > button.delete {
  background-color: var(--delete);
  color: var(--danger-font-color);
  margin-right: auto;
}
form div > button.new {
  background-color: var(--new);
  color: var(--danger-font-color);
}
form div > button.save {
  background-color: var(--save);
  color: var(--danger-font-color);
}
form div > button.edit {
  background-color: var(--edit);
  color: var(--danger-font-color);
}

form div > button:hover {
  box-shadow: 0px -0px 5px -0px rgba(255, 255, 255, 0.75);
  outline: 1px solid white;
}

form div > button.delete:hover {
  outline: 1px solid var(--delete);
  background-color: var(--delete-hover);
}
form div > button.new:hover {
  outline: 1px solid var(--new);
  background-color: var(--new-hover);
}
form div > button.save:hover {
  outline: 1px solid var(--save);
  background-color: var(--save-hover);
}
form div > button.edit:hover {
  outline: 1px solid var(--edit);
  background-color: var(--edit-hover);
}

form > div {
  display: flex;
  gap: 1rem;
}