form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 570px;
  justify-self: center;
}

label {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

input,
textarea,
select,
select > option {
  width: 400px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-font-color);
  font-family: 'Roboto';
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.2rem;
}

input:-internal-autofill-selected,
input[type="url" i]:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
    box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
    -webkit-text-fill-color: var(--input-font-color) !important;
}

select > option {
  background-color: var(--select-option-bg);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    right: -2px;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color-scheme: dark;
}




input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--divider-line);
}

input:disabled,
textarea:disabled,
select:disabled,
select > option:disabled {
  color: rgb(234, 238, 245);
  /* background-color: goldenrod; */
  opacity: 0.8;
  background-color: rgba(9, 48, 107, 0.396);
}

textarea {
  height: 200px;
}

.buttons {
  align-self: flex-end;
}

button {
  background-color: var(--primary);
  color: var(--primary-font-color);
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.2rem;
}

button.primary {
  background-color: var(--primary);
  color: var(--btn-font-color);
}

button.primary:hover {
  box-shadow: 0px -0px 5px -0px rgba(255, 255, 255, 0.75);
  outline: 1px solid gold;
}

button.delete {
  background-color: var(--delete-hover);
}
button.delete:hover {
  box-shadow: 0px -0px 5px -0px rgba(255, 255, 255, 0.75);
  outline: 1px solid red;
}

form > div {
  display: flex;
  gap: 1rem;
}