#root > header, main, footer {
  width: 100%;
  padding: 2rem;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root > header {
  background-color: var(--header);
  z-index: 99;
}

header nav ul {
  list-style: none;
}

header section,
main section,
footer section {
  margin: 0 auto;
  max-width: 1200px;
}

main {
    flex: 1;
}

footer {
    background-color: var(--footer);
    background-color: rgb(7, 36, 70);
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { 
  color: rgb(10, 93, 189);
}

.icon {
  width: 1.2rem;
}

section {
  max-width: 1200px;
}

section header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

section header h1 {
  justify-self: center;
}

section header button {
  margin-left: auto;
}