header, main, footer {
  width: 100vw;
  padding: 2rem;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
  background-color: var(--header);
  z-index: 99;
}

header nav ul {
  list-style: none;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    background-color: var(--footer);
    /* position: sticky; */
}

h1 {
  /* color: rgb(65, 166, 244); */
  background-color: rgb(7, 36, 70);
  color: rgb(10, 93, 189);
}

