@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #052136;
  --font-color: #fff;
  --header: #031828;
  --links: #0490fb;
  --scrollbar-track: rgba(0, 0, 0, 0.78);
  --footer: #041e49;
  --divider-line: #045594;
  --input-border: rgb(9, 48, 107);
  --input-bg: rgba(7, 39, 75);
  --select-option-bg: rgba(9, 48, 100, 0.995);
  --input-font-color: rgb(234, 238, 245);
  --alt-row-bg-color: #0470c220;
  --row-hover-bg-color: #0470c241;
  --primary: goldenrod;
  --primary-font-color: black;
  --primary-hover: rgb(255, 160, 0);
  --btn-font-color: black;
  --delete: #e85050c9;
  --delete-hover: #e85050 ;
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--scrollbar-track); 
}

html, body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}